<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Boolflix</title>

        <!-- favicon -->
        <!-- <link rel="shortcut icon" href="https://www.scdn.co/i/_global/favicon.png"> -->

        <!-- font: tipo, weight -->

        <!-- icone - fontawesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

        <!-- responsive -->
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->

        <!-- CSS link -->
        <link rel="stylesheet" href="assets/style.css">

        <!-- CDN AXIOS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
        <!-- CDN VUE -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script><!-- DEV VERSION -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script> --><!-- DIST VERSION -->
    </head>

    <body>

        <div id="root">
            <div class="container">
                <!-- input e button -->
                <div class="search">
                    <input type="search"
                    v-model="userSearch"
                    placeholder="Cerca film o serie tv"
                    @keyup.enter="searchFilm">
                    <button
                    type="button" name="button"
                    @click="searchFilm">
                        Cerca
                    </button>
                </div><!-- END input e button -->

                <!-- film and tv-series: template -->
                <ul v-for="(film, index) in films" class="film-card">
                    <!-- stamp title or name -->
                    <li v-if="film.title">
                        Titolo: {{ film.title }}
                    </li>
                    <li v-else>
                        Nome serie: {{ film.name }}
                    </li>
                    <!-- END stamp title or name -->

                    <li>
                        Lingua originale: {{ film.original_language }}
                        <img
                        :src="'assets/flags/' + film.original_language + '.png'"
                        @error="setAltFlag"
                        :alt="'flag img ' + film.original_language">
                    </li>

                    <!-- stamp title or name -->
                    <li v-if="film.original_title">
                        Titolo (in lingua originale): {{ film.original_title }}
                    </li>
                    <li v-else>
                        Nome serie (in lingua originale): {{ film.original_name }}
                    </li>
                    <!-- END stamp title or name -->

                    <li>
                        Voto: {{ newVote(index) }}
                        <ul>
                            <li>
                                <!-- star -->
                                <i v-for="(star, i) in 5"
                                class="fa-star"
                                :class="i < newVote(index) ? 'fas' : 'far'"
                                ></i>
                            </li>
                        </ul>
                        ({{ film.vote_average }})
                    </li>
                </ul><!-- film and tv-series -->
            </div><!-- END .container -->
        </div><!-- END #root -->

        <!-- javascript -->
        <script type="text/javascript" src="assets/main.js"></script>
    </body>
</html>
