<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Boolflix</title>

        <!-- favicon -->
        <!-- <link rel="shortcut icon" href="https://www.netflix.com/favicon.ico"> -->

        <!-- font: tipo, weight -->
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">

        <!-- icone - fontawesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

        <!-- responsive -->
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->

        <!-- CSS link -->
        <link rel="stylesheet" href="assets/style.css">

        <!-- CDN AXIOS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
        <!-- CDN VUE -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script><!-- DEV VERSION -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script> --><!-- DIST VERSION -->
    </head>

    <body>

        <div id="root">

            <header>
                <div class="container">
                    <div class="logo"><!-- logo -->
                        <h1>
                            Boolflix
                        </h1>
                    </div><!-- END header-left -->

                    <div class="search-bar" :class="inputClass"><!-- search-bar -->

                        <button
                        type="button" name="button"
                        @click="toggleSearchBar">
                            <i class="fas fa-search"></i>
                        </button>

                        <input type="search" :class="inputClass"
                        v-model="searchText" ref="searchInput"
                        placeholder="Cerca film o serie tv"
                        @keyup.enter="getFilms">

                    </div><!-- END search-bar -->
                </div><!-- END container -->
            </header>

            <main>
                <div class="container films-container">

                    <!-- film and tv-series: template -->
                    <div class="loading" v-if="isLoading"></div>
                    <div v-else-if="searchMsg" class="card-container">
                        <!-- search-msg -->
                        <h2 v-if="films.length">
                            Dai un occhiata ai titoli correlati:
                            <span>
                                "{{ searchMsg }}"
                            </span>
                        </h2>
                        <span class="no-card" v-else><!-- search-msg: no results -->
                            Nessun risultato per la tua ricerca di "{{ searchMsg }}".
                        </span>

                        <!-- film card -->
                        <div v-for="(film, index) in films"
                        class="film-card"
                        :style="setCardBgr(film.backdrop_path)">

                            <div class="film-info">
                                <!-- title -->
                                <h3><!-- film title or serie name -->
                                    {{ film.title ? film.title : film.name }}
                                </h3>
                                <ul>
                                    <li>
                                        Lingua originale: {{ film.original_language }}
                                    </li>
                                    <li>
                                        Titolo originale: {{ film.original_title ? film.original_title : film.original_name }}
                                    </li>
                                    <li v-if="film.genre_ids != undefined">
                                        Genere: {{ stampGenres(film.genre_ids) }}
                                    </li>
                                    <li v-if="film.cast != undefined">
                                        Cast: {{ stampCast(film.cast) }}
                                    </li>
                                    <li v-if="film.overview">
                                        Overview: {{ film.overview }}
                                    </li>
                                </ul><!-- END stamp all info -->
                                <!-- END film-title -->
                            </div>

                            <!-- lang-flag -->
                            <div class="film-lang">
                                <span v-if="!myFlags.includes(film.original_language)">
                                    {{ film.original_language }}
                                </span>
                                <img :src="setFlag(film.original_language)"
                                :alt="'flag img ' + film.original_language">
                            </div>

                            <!-- vote -->
                            <div class="stars">
                                <i v-for="i in maxStars"
                                class="fa-star"
                                :class="i <= setStars(film.vote_average) ? 'fas' : 'far'"
                                ></i>
                            </div>

                        </div><!-- film and tv-series -->
                    </div><!-- END card-container -->

                </div><!-- END container -->

            </main>

        </div><!-- END #root -->

        <!-- javascript -->
        <script type="text/javascript" src="assets/main.js"></script>
    </body>
</html>
