/* ||||| RESET E NORMALIZZAZIONE ||||| */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

ul {
    list-style-type: none;
}

h1 {/* boolflix in header */
    color: red;
    line-height: 70px;
    text-transform: uppercase;
}
h2 {/* search-title */
    font-size: 14px;
    color: #808080;
    width: 100%;
}
h2 span {
    font-weight: 700;
    color: white;
}
h3 {/* --> into film card: film title or serie name */
    font-size: 16px;
    text-transform: uppercase;
}
h3 span {/* original title */
    font-size: 14px;
    text-transform: none;
    font-style: italic;
}

/* <1-fold #root */
#root {
    height: 100vh;
    background-color: #141414;
    overflow-y: auto;
}

.container {
    max-width: 1240px;
    margin: auto;
}
.container::after {
    content: "";
    display: table;
    clear: both;
}

/* #2-fold header */
header {
    background-image: linear-gradient(to bottom,rgba(0,0,0,.7) 10%,rgba(0,0,0,0));
}

.header-left,
.header-right {
    width: 50%; height: 70px;
    float: left;
}
.header-right {
    display: flex;
    justify-content: flex-end; align-items: center;
}

/* #/2-fold header */

/* #2-fold main */
.films-container {
    padding: 20px 0;
    min-height: calc(100vh - 70px);
    display: flex;
}

.card-container {
    display: flex;
    justify-content: flex-start; align-items: flex-start;
    flex-wrap: wrap;
}

.films-container .loading {
    height: 40px; width: 40px;
    background: transparent;
    border-radius: 50%;
    border: 4px solid transparent; border-top: 4px solid white;
    margin: auto;
    animation: loading-animation 0.5s linear infinite;
}

@keyframes loading-animation {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.no-card {
    font-size: 14px;
    color: white;
}

.film-card {
    width: 300px; height: 169px;
    border-radius: 10px;
    padding: 10px; margin: 40px 5px 40px 5px;
    position: relative;
}
.film-card .film-title {
    display: none;
}
.film-card:hover .film-title {
    display: flex;
    justify-content: center; align-items: center;
    text-align: center; padding: 10px;
    position: absolute;
    top: 40%; left: 0; right: 0; bottom: 0;
    background-color: rgba(20, 20, 20, 0.9); color: white;
}
.film-card .film-lang {
    display: none;
}
.film-card:hover .film-lang {
    display: block;
    position: absolute;
    top: 90%; left: -1%;
}
.film-card:hover .film-lang img {
    width: 35px;
    transform: rotate(10deg);
}
.film-card .stars {
    display: none;
}
.film-card .stars i {
    margin: 0 2px;
}
.film-card:hover .stars {
    display: flex; align-items: center;
    height: 20px; border-radius: 10px;
    padding: 0 5px;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 40%; left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(20, 20, 20, 1);
    font-size: 12px;
}

/* #/2-fold main */

/* </1-fold #root */
