/* ||||| RESET E NORMALIZZAZIONE ||||| */
/* <editor-fold */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

li {
    /* display: inline-block; */
}

/* <1-fold #root */
#root {

}

.container {
    padding: 20px;
}
.container::after {
    content: "";
    display: table;
    clear: both;
}

.film-card {
    width: 200px; min-height: 200px;
    float: left;
    margin: 20px; padding: 10px;
    border: 1px solid black;
}
.film-card img {
    width: 20px;
}

/* </1-fold #root */
